.button5 {
  border-radius: 60%;
}
.button1 {
  background-color: #3633eb; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 8px 2px;
  cursor: pointer;
  width: 100px;
  height: 100px;
}
.btnShadow {
  border: 1px solid;
  padding: 10px;
  box-shadow: 20px 20px 50px grey;
}
.center1 {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  margin-top: 60px;
}
.center2 {
  margin: auto;
  width: 50%;
  padding: 10px;
  margin-top: 60px;
}
hr.solid {
  border-top: 3px solid #bbb;
}
.stylingColor {
  margin-top: 60px;
  padding-top: 60px;
}
.colorChange {
  background-color: #3633eb;
}

.column1 {
  float: left;
  padding: 10px;
  height: 150px; /* Should be removed. Only for demonstration */
}

.left1 {
  width: 25%;
}
.centerDivTag {
  width: 50%;
}

.right1 {
  width: 25%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.borderBox {
  box-sizing: border-box;
  border-style: solid;
  border-color: rgb(80, 83, 255);
  box-shadow: 20px 20px 50px rgba(200, 201, 244, 0.635);
  border-radius: 10px;
}
.marginStyling {
  margin-top: 50px;
  margin-left: 80px;
  margin-right: 80px;
  padding: 20px;
}
.viewMoreStyling {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  width: 60%;
}
.editStyling {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.longName {
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 500px; */
  max-height: 80px;
  overflow: auto;
}
.tableTop {
  padding-bottom: 20px;
}
.adminTab {
  background-color: #c3c3c5;
  width: 100%;
  padding-left: 25%;
  color: white;
}
.footerTag {
  background-color: black;
}
.addNEwBottom {
  margin-bottom: 20px;
}
.nextBtn {
  padding: 10px;
}
.searchBar {
  margin-top: 20px;
  margin-right: 80px;
}


/* IT20192082 */

.single-tour {
  background: var(--clr-white);
  border-radius: var(--radius);
  height: 40%;
  width: 44%;
  margin-left: 28%;
  margin-right: 25%;
  margin-top: 2%;
  margin-bottom: 2%;
  box-shadow: var(--light-shadow);
  transition: var(--transition);
}
.single-tour:hover {
  box-shadow: var(--dark-shadow);
}
.single-tour img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: var(--radius);
  border-top-left-radius: var(--radius);
}
.tour-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}
.tour-info h4 {
  margin-bottom: 0;
  font-size: 2rem;
}

.tour-price {
  color: var(--clr-primary-5);
  background: var(--clr-primary-10);
  padding: 0.25rem 0.5rem;
  border-radius: var(--radius);
  font-size: 1.5rem;
}
.single-tour footer {
  padding: 1.5rem 2rem;
}



/* 
====== 
Form
======
*/

